<div class="macro">
  <div class="logo">
    <img [src]="url">
  </div>
  <div class="simple-info">
    <div class="who-we-are">
      <mat-accordion>
        <mat-expansion-panel class="card" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              Quem somos ?
            </mat-panel-title>
            <mat-panel-description class="icon">
              <mat-icon>explore</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text">Somos uma empresa sem fins lucrativos que possui o objetivo de tornar o mundo mais verde e sustentável, por meio da disseminação de informações e capacitação sobre a técnica da agrofloresta.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="what-we-do">
      <mat-accordion>
        <mat-expansion-panel class="card" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              O que oferecemos ?
            </mat-panel-title>
            <mat-panel-description class="icon">
              <mat-icon>supervised_user_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text">Oferecemos cursos gratuitos de qualificação para pequenos e grandes proprietários de terra.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="what-is">
      <mat-accordion>
        <mat-expansion-panel class="card" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              O que é uma agrofloresta ?
            </mat-panel-title>
            <mat-panel-description class="icon">
              <mat-icon>local_florist</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text">Agrofloresta é um sistema de produção inspirado na dinâmica dos ecossistemas naturais, nos quais espécies florestais perenes são plantadas junto com cultivos agrícolas e criações de animais.</p>
          <p class="text">Destaca-se o aumento da diversidade de espécies, privilegiando o controle natural de pragas e doenças, e a diversificação da produção, de modo que o agricultor não dependa de um só mercado, entre outros benefícios.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="contact-us">
      <mat-card class="box">
        <mat-card-title class="header">Entre em contato</mat-card-title>
        <mat-card-content>
          <div class="tel">
            <mat-icon> message</mat-icon>
            <p class="numb">(61) 53223-5558</p>
          </div>
          <div class="insta">
            <mat-icon class="ic">phone_iphone</mat-icon>
            <p class="nick">@wwaf</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- <div class="card-objective">
    <mat-card>
      <mat-card-title>O que oferecemos ?</mat-card-title>
      <mat-card-content>
        <p>Oferecemos cursos gratuitos de qualificação para pequenos e grandes proprietários de terra</p>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>
